/* Estilos gerais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Containers principais */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #d4af37;
}

.login-box h1 {
  font-size: 24px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.login-box p {
  font-size: 14px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.input-container {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container input {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  flex: 1;
}

.input-container i {
  color: #888;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #d4af37;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c49a2f;
}

/* Ícones */
.fas {
  transition: color 0.3s;
}

.fas:hover {
  color: #d4af37;
}






/*tela de cadastro*/

#body-cadastro {
  margin: 0;
  padding: 0;
  background-color: #000; /* Fundo preto */
  font-family: Arial, sans-serif;
  display: flex; /* Usando Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
}

.container-produtos {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #F2F2F2;
  padding: center;
  /*margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form fieldset {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

legend {
  font-weight: bold;
  color: #555;
  padding: 0 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: 0;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  display: block;
  padding: 0 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #fdfdfd;
}

textarea {
  resize: vertical;
  height: 80px;
}

button.save-button {
  display: block;
  width: 10%;
  padding: 10px;
  float: right;
  margin-right: 40px;
  background-color: #d4af37;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.save-button:hover {
  background-color: #c49a2f;
}
